header{
    display: flex;
    align-items: center;
    column-gap: 64px; /* faz o afastamento */
    width: 100%;
    max-width: 1240px;
    padding-top: 15px;
}

header img {
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px; /* fez o afastamento*/
    list-style: none;
}

.navigation__link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.navigation__link:hover {
    color: var(--red);  /*colocando cor na fonte */
}

.navigation__link::after { /* after usado para criar um segundo elemento nesse caso ele cria uma linha vermelha em baixo da fonte */
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: var(--red);
    
    transform: scaleX(0);  /* ele tira o efeito do after da linha sublinhada na fonte */
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation__link:hover::after {
    transform: scaleX(1); /*ativa a modificação feita pelo after quando passa o mouse em cima*/

    transform-origin: left;
    transition: transform 0.4s;
}

.navigation__social {
    margin-left: auto;  /* ele vai coloca os iconis no canto direito do site */
    display: flex;
    align-items: center;
    column-gap: 24px;
}

/*Tamanho da imagem dos iconis */
.navigation__social svg{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 4.s;
}

/* aumenta a opacidade do icon*/

.navigation__social svg:hover {
    opacity: 1;
    transform: translateY(-5px); /* Quando passa com mouse no icone ele sobe uma altura de 5px */
    cursor: pointer;
}